body {
    background: linear-gradient(to right, #000000, #008000); /* Black to Green Gradient */
    color: #0d1c09;
    font-family: 'Montserrat', sans-serif;
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

header {
    background-color: rgba(0, 0, 0, 0.7);
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 1000;
}

header h1 {
    color: #1DB954;
    font-size: 2.5em;
    font-weight: 800;
    margin: 0;
    padding: 50px 0;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    margin-top: 120px; /* Added margin to avoid overlap with header */
    text-align: center;
}

.description h2 {
    color: #1DB954;
    font-weight: 700;
    margin-bottom: 10px;
}

.description p {
    font-weight: 500;
    font-size: 1.2em;
    color: #b3b3b3;
}

.input-container .spotify-player {
    background-color: #282828;
    border-radius: 40px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    padding: 30px;
    width: 100%;
    text-align: center;
}

.input-container .spotify-player .form-control {
    background-color: #121212;
    border: none;
    border-radius: 24px;
    padding: 20px 20px;
    color: #ffffff;
    margin-bottom: 10px;
}

.input-container .spotify-player .form-control::placeholder {
    color: #b3b3b3;
}

.input-container .spotify-player .form-control:focus {
    background-color: #121212;
    border: none;
    box-shadow: none;
}

.input-container .spotify-player .btn-primary {
    background-color: #1DB954;
    border: none;
    border-radius: 50px;
    font-weight: 600;
    color: #ffffff;
    padding: 10px 20px;
    width: 100%;
}

.input-container .spotify-player .btn-primary:hover {
    background-color: #1aa34a;
}

.links p {
    color: #b3b3b3;
    font-weight: 400;
    margin-bottom: 10px;
}

.links a {
    color: #1DB954;
    font-weight: 600;
    margin: 5px;
    text-decoration: none;
}

.links a:hover {
    color: #1aa34a;
}

.result-container {
    text-align: center;
    margin-top: 50px;
}

.result-container h1 {
    color: #1DB954;
    font-weight: 600;
}

.result-container .btn-success {
    background-color: #1DB954;
    border: none;
    font-weight: 600;
    color: #ffffff;
    padding: 10px 20px;
    border-radius: 24px;
}

.result-container .btn-success:hover {
    background-color: #1aa34a;
}
