<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MoodMatrix: Mood-Based Playlist Generator</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <h1 class="main-heading">MOODMATRIX</h1>
    </header>
    <main class="container">
        <div class="content">
            <h2>Generate a playlist based on your mood!</h2>
            <p>MoodMatrix helps you create the perfect playlist for any mood. Simply enter your current mood, and we'll generate a Spotify playlist just for you!</p>
            <p>Try prompts like "Happy", "Sad", "Energetic", "Relaxed", "Angry", "Romantic", "Nostalgic", and more!</p>
            <form action="/generate" method="get" class="spotify-player">
                <input type="text" name="prompt" class="form-control" placeholder="How are you feeling today?" required>
                <button type="submit" class="btn btn-primary">Generate Playlist</button>
            </form>
        </div>
        <div class="links">
            <p>Follow for more 👨🏻‍💻:</p>
            <a href="https://open.spotify.com/user/b0h8fzxswu2jel5erx4qvlkdm" class="btn"><i class="fab fa-spotify"></i></a>
            <a href="https://www.linkedin.com/in/itsdivyanshjha/" class="btn"><i class="fab fa-linkedin"></i></a>
            <a href="mailto:jhadivyansh29@gmail.com" class="btn"><i class="fas fa-envelope"></i></a>
            <a href="https://github.com/itsdivyanshjha" class="btn"><i class="fab fa-github"></i></a>
        </div>
    </main>
</body>
</html>
